.service {
    background-image: url(../img/aik.jpg);
    width: 100%;
    height: 120vh;
    background-size: cover;
    position: relative;
    &::before {
        display: block;
        content: "";
        // background-color: rgba(0,0,0,0.2);
        background-color: rgb(214, 208, 208);
        width: 100%;
        height: 60px;
    }
}
.s-con {
background-color: rgba(0,0,0,0.4);
height: 110vh;
width: 100%;

}
.s-img {
width: 100%;
background-size: cover;
}
.s-p {
background-color: rgba(255, 253, 253, 0.5);
font-size: 20px;
position: absolute;
top: 50%;
left: 50%;
color: white;
padding: 40px;
transform: translate(-50%, -10%);

}